
.icon-play-circled2:before { content: '\e800'; } /* '' */
.icon-videocam:before { content: '\e801'; } /* '' */
.icon-gift:before { content: '\e802'; } /* '' */
.icon-video:before { content: '\e803'; } /* '' */
.icon-video-1:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */